@font-face {
  font-family: "BrooklynSamuelsFive-Bold";
  src: url("../fuentes/Samuelstype - BrooklynSamuelsFive-Bold.otf"); }
body {
  font-family: 'BrooklynSamuelsFive-Bold'; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3,
.col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7,
.col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

ul, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0; }

:focus {
  outline: 0; }

a:hover, a:focus {
  color: #0e7e02;
  text-decoration: none; }

a {
  color: #0e7e02; }

.navbar-default {
  margin-top: 35px; }

.titulo-general {
  margin-top: 35px; }

.metricas h5 {
  font-size: 14px;
  margin-top: 20px;
  float: left;
  text-decoration: underline;
  width: 100%; }
.metricas h6 {
  font-size: 12px;
  margin-top: 30px;
  width: 100%; }
.metricas p {
  font-size: 12px; }
.metricas .num-violeta {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgba(142, 50, 137, 0.9);
  float: left;
  margin-right: 15px;
  float: left; }
  .metricas .num-violeta p {
    color: rgba(142, 50, 137, 0.9);
    font-size: 30px;
    text-align: center;
    margin-top: 3px;
    margin-left: -1px; }
.metricas .block-pregunta {
  margin-top: 40px; }
  .metricas .block-pregunta .sub-preguntas {
    width: 100%;
    float: leftt;
    margin-bottom: 1px;
    display: table;
    box-sizing: border-box; }
    .metricas .block-pregunta .sub-preguntas .block {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0; }
    .metricas .block-pregunta .sub-preguntas .contenido {
      height: auto; }
  .metricas .block-pregunta .preguntas {
    width: 100%;
    float: leftt;
    height: 60px;
    margin-bottom: 1px;
    display: table;
    box-sizing: border-box; }
    .metricas .block-pregunta .preguntas .block {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0; }
    .metricas .block-pregunta .preguntas .contenido {
      height: 60px; }
  .metricas .block-pregunta .campo {
    margin-bottom: 1px;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box; }
    .metricas .block-pregunta .campo .block {
      width: auto;
      display: block;
      margin: 0 auto;
      display: inline-block; }
.metricas .text-pregunta {
  float: left;
  width: 60%; }
.metricas .panel-success {
  margin-bottom: -20px; }

.panel-success {
  border-color: #d6e9c6;
  background-color: #d6e9c6;
  width: 100%; }
  .panel-success h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 0;
    position: relative; }
  .panel-success span {
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    position: absolute;
    top: -3px;
    margin-left: 10px; }

.metricas {
  width: 100%; }
  .metricas textarea {
    width: 100%;
    font-weight: normal;
    height: 60px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .metricas .pregunta {
    width: 100%;
    margin-top: 30px;
    float: left; }
  .metricas .sub-pregunta {
    width: 100%;
    font-weight: normal !important;
    margin-top: 10px;
    float: left;
    font-size: 12px; }
  .metricas .titulo-pregunta {
    width: 100%;
    margin-top: 30px;
    float: left; }
  .metricas .item-pregunta {
    color: #2c6314;
    font-weight: bold; }
  .metricas .boton {
    background-color: #2c6314;
    color: #fff;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase; }
  .metricas .campo {
    width: 100%;
    font-weight: normal; }
    .metricas .campo .check-radio {
      float: left;
      margin-right: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
      border-radius: 5px; }
      .metricas .campo .check-radio input {
        margin: 0 auto;
        display: block; }

/*# sourceMappingURL=admin.css.map */
